img {
  width: 250px;
  height: 220px;
}
p {
  font-size: 20px;
  margin: 4px 0; 
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
  padding: 15px;
  background-color: gray;
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  text-align: center;
  background-color: white;
  border: 1px solid black;
  padding: 20px 0px;
}

.product-card img {
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
